<p style="text-align:left;"><span style="font-family: Arial;"> Hi,</span></p>
<p><span>Great news! You just received {amount_currency} from {customer.name} at {created}.</p>
<p><span>Payment type: <strong>{payment_method.type}</strong></span></p>
<p><span>Payment amount: <strong>{amount}</strong></span></p>
<p><span>Payment currency: <strong>{currency}</strong></span></p>
<p><span>Payment description: <strong>{description}</strong></span></p>
<br/>
<p><span>Customer email: <strong>{customer.email}</strong></span></p>
<p><span>Customer name: <strong>{customer.name}</strong></span></p>
<p><span>Customer phone: <strong>{customer.phone}</strong></span></p>
<p></p>
<p><span>You can download the </span><a href="{receipt.url}" target="_self">receipt</a>.</p>
