<p style="text-align:left;"><span style="font-family: Arial;"> Hi {customer.name},</span></p>
<p>You just finished a {amount_currency} payment on {site_title}! </p>
<p><span>Payment type: <strong>{payment_method.type}</strong></span></p>
<p><span>Payment amount: <strong>{amount}</strong></span></p>
<p><span>Payment currency: <strong>{currency}</strong></span></p>
<p><span>Payment description: <strong>{description}</strong></span></p>
<p></p>
<p><span>You can download the </span><a href="{receipt.url}" target="_self"><span>receipt</span></a>.</p>
